@import "../variable/variable";
@import "../mixin/font";

nav {
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .container {
    position: relative;
  }

  ul {
    width: 100%;
    z-index: 999;

    li {
      display: inline-block;

      a.main-menu {
        line-height: 55px;
        padding-right: 30px;
        @include font(15px, 500);
        color: $black;
        position: relative;

        &::before {
          position: absolute;
          bottom: 0;
          left: 2px;
          width: 100%;
          height: 3px;
          background-color: $black;
          content: "";
          opacity: 0;
          visibility: hidden;
        }
      }

      &:hover {
        a.main-menu {
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .mega-menu {
        position: absolute;
        top: 100%;
        left: 14px;
        width: 1294px;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        background-color: transparent;
        border-top: 1px solid #dcdcdc;


        .left-menu {
          width: 340px;
          min-height: 200px;
          border-right: 1px solid #dcdcdc;
          position: relative;
          background-color: $white;
          box-shadow: 0 4px 14px rgba(0, 0, 0, .25);



          ul {

            li {
              display: block;
              margin-right: 0;

              a.main-left-menu {
                display: block;
                width: 100%;
                @include font(14px, 500);
                color: $black;
                padding: 14px 24px;
                position: relative;
                transition: all linear .2s;
                background-color: transparent;

                i {
                  position: absolute;
                  top: 18px;
                  right: 10px;
                  width: 40px;
                  text-align: center;
                }
              }

              &:hover {
                a.main-left-menu {
                  background-color: #f2f2f2;
                }
              }

              .submenu {
                position: absolute;
                top: 0;
                left: 100%;
                width: 953px;
                min-height: 200px;
                visibility: hidden;
                opacity: 0;
                background-color: $white;
                margin-left: 1px;
                box-shadow: 5px 4px 14px rgba(0, 0, 0, .25);

                ul {
                  padding-top: 7px;

                  li {

                    a {
                      padding: 7px 24px;
                      @include font(14px, 500);
                      color: $black;

                      &:hover {
                        color: $themeColor;
                      }
                    }
                  }
                }
              }

              &:hover> {
                .submenu {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }

      &:hover> {
        .mega-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.mobile-menu {
  padding: 5px 0;
  width: 100%;
  z-index: 999;

  .left-bar {
    i {
      font-size: 22px;
      width: 20px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
    }
  }

  .right-user {
    button {
      background-color: transparent;
      border: 0;
    }
  }
}

.mobile-user-info {

  .mobile-user-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    opacity: 0;
    z-index: 999;

    .mobile-user-sidebar {
      position: fixed;
      top: 0;
      right: 0;
      width: 310px;
      height: 100%;
      background-color: $white;
      z-index: 9999;
      padding: 20px;
      transition: all 0.4s ease 0s;
      right: -310px;

      .close-user {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        font-size: 22px;

        &:hover {
          background-color: #f1f1f1;
        }
      }

      .main-content {
        margin-top: 30px;

        .signup {
          a {
            display: block;
            width: 100%;
            @include font(15px, 600);
            color: $white;
            background-color: $themeColor;
            padding: 8px 20px;
            text-align: center;
            border-radius: 3px;

            &:hover {
              background-color: #9C2327;
            }
          }
        }

        .wishlist {
          margin-top: 40px;
          margin-bottom: 24px;

          a {
            width: 100%;
            display: block;
            @include font(14px, 500);
            color: $black;

            &:hover {
              color: $themeColor;
            }

            i {
              width: 20px;
            }

            small {
              font-size: 12px;
              font-weight: 400;
              color: $white;
              background-color: #9C2327;
              padding: 4px 8px;
              border-radius: 4px;
              position: relative;
              top: -4px;
            }

            &:hover {
              span {
                text-decoration: underline;
              }
            }
          }
        }

        .links {
          .links-btn {
            display: block;
            width: 100%;
            text-align: left;
            background-color: transparent;
            border: 0;
            margin-bottom: 24px;
            @include font(14px, 500);
            color: $black;

            &:hover {
              color: $themeColor;
            }

            i.info-icon {
              width: 20px;
            }

            span.info-icon {
              width: 20px;
            }

            img {
              width: 15px;
              border-radius: 2px;
              position: relative;
              top: -1px;
            }
          }
        }
      }
    }
  }
}

.show-mobile-user-overlay {
  visibility: visible !important;
  opacity: 1 !important;
}

.show-mobile-user-sidebar {
  right: 0 !important;
}

.mobile-language-popup {
  width: 100%;
  height: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .header {
    padding: 20px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    h4 {
      @include font(17px, 600);
    }

    .close-mobile-lang-popup {
      i {
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #f5f5f5;
        font-size: 18px;

        &:hover {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .language-main {
    padding: 40px 20px;
    overflow-y: auto;
    height: 85%;

    .title {
      padding-bottom: 14px;
      padding-left: 29px;

      h5 {
        @include font(15px, 600);
      }
    }

    .language-box {
      margin-bottom: 24px;

      ul {
        li {
          margin-bottom: 0px;

          button {
            background-color: transparent;
            border: 0;
            @include font(15px, 500);
            text-align: left;
            width: 100%;
            padding: 8px 30px;

            img {
              width: 30px;
              border-radius: 3px;
              margin-right: 14px;
            }

            &:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }
    }
  }
}

.mobile-currency-popup {
  width: 100%;
  height: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .header {
    padding: 20px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    h4 {
      @include font(17px, 600);
    }

    .close-mobile-currency-popup {
      i {
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #f5f5f5;
        font-size: 18px;

        &:hover {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .currency-main {
    padding: 40px 20px;
    overflow-y: auto;
    height: 85%;

    ul {
      li {
        margin-bottom: 0px;

        button {
          background-color: transparent;
          border: 0;
          @include font(16px, 400);
          text-align: left;
          width: 100%;
          padding: 8px 30px;

          span {
            width: 100px;
          }

          small {
            font-size: 16px;
          }


          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }

  }
}