@import "../variable/variable";
@import "../mixin/font";


.popup-offer .btn-close {
  opacity: 1;
  border-radius: 50%;
  border: 1px solid rgba(35, 47, 62, 1);
  font-size: 10px;
  color: $black;
}

.popup-offer-info {
  padding: 30px;
  padding-top: 0;

  .image {
    max-width: 220px;
    margin: 0 auto;

    img {
      border-radius: 10px;
    }
  }

  .text {
    h5 {
      @include font(30px, 500);

      span {
        color: #8f8f8f;
      }
    }

    h4 {
      @include font(42px, 600);
    }

    h3 {
      @include font(22px, 500);
      margin: 5px 0 10px 0;
    }

    p {
      color: #474747;
      @include font(13px, 400);
      margin-bottom: 20px;
    }

    .links {
      width: 48%;
      border: 2px solid #a5a5a5;
      @include font(12px, 600);
      line-height: 18px;
      color: $themeColor;
      padding: 8px 20px;
      transition: all linear .2s;
      &:hover{
        background-color: $themeColor;
        color: $white;
        border-color: $themeColor;
      }

      &:nth-child(2) {
        background-color: $themeColor;
        border-color: $themeColor;
        color: $white;
      }
    }
    .tearms{
      @include font(13px, 400);
      color: #474747;
    }
  }
}

.popup-offer .modal-content {
  border-radius: 0;
}

.popup-offer .modal-header {
  padding-right: 20px;
  padding-top: 20px;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.popup-offer .modal-body {
  padding: 0;
}

.popup-offer .modal-dialog {
  max-width: 408px !important;
}