@import "../variable/variable";
@import "../mixin/font";

.top-destination {
  padding-top: 60px;

  .title-bird {
    position: absolute;
    top: -0px;
    right: -100px;
    animation: bird 5s ease-in infinite;
  }

  @keyframes bird {

    0%,
    to {
      transform: rotate(0deg) translateX(0)
    }

    25%,
    75% {
      transform: rotate(5deg) translateX(25px)
    }

    50% {
      transform: rotate(10deg) translateX(40px)
    }
  }
}

.destination-item {
  height: 190px;
  margin-bottom: 24px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    transition: all linear .2s;

    h4 {
      @include font(22px, 600);
      color: $white;
    }
  }

  &:hover {
    .overlay {
      background-color: rgba(0, 0, 0, 0);

      h4 {
        text-shadow: rgba(0, 0, 0, 0.6) .0625rem 0 .625rem;
      }
    }

    img {
      transform: scale(1.1);
    }
  }
}